@import "tailwindcss";
body{
  margin:0;
  padding:0;
}
h5{
  @apply text-[2rem] font-bold;
}
button{
  @apply hover:bg-gray-500 transform capitalize transition-all text-white hover:text-gray-100 duration-300 bg-gray-100 max-w-[150px] w-auto rounded;
  cursor:pointer;
}
p{
  @apply text-[0.75rem] sm:text-[0.85rem] font-black
}
h6{
  @apply text-[1.75rem] font-bold text-center py-[30px] text-gray-300;
}